

  .welcome{
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 2px dashed @silver;
  }//end



.home {


  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @phone{
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap-reverse;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @phone{
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @phone{
        width: 100%;
      }

      img {
        border-radius: 10px;
      }
    }
  }


  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @phone{
      display: flex;
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @phone{
        padding-top: 1%;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @phone{
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    
    @media @phone{
      flex-direction: column-reverse;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @phone{
        width: 70%;
        margin-left: 30px;
        margin-right: 30px;
      }
      
      
    }
  }
  .btn{
    display: block;
    background-color: @button-bg;
    margin: 10px 0 0 0;
    cursor: pointer;
    color: @white;
    width: 200px;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: @white;
    text-align: center;
    padding-top: 10px;

    @media @phone{
      width: 300px;
      height: 35px;
      
    }
  }
}// home

