// Mixins in here

// //.button(@button-bg, @width: @txt-color){
//     display: block;
//     background-color: @button-bg;
//     margin: 0 10px 20px;
//     cursor: pointer;
//     width: @width;
//     height: 45px;
//     font-size: 2rem;
//     border-radius: 10px;
//     color:@txt-color;
    
//     &:hover{
//       background-color: @txt-color;
//       color: @bg-color;
//     }
// }

 
.btn-style(@bgColor:@button-bg, @width:100px, @color:@white) {
    display: block;
    background-color: @bgColor;
    margin: 0 1px 20px;
    cursor: pointer;
    width: @width;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: @color;
  }